{% extends "base.html" %}

{% block content %}
<div id="About">
    <h2>СК "ГЕЛИОС"</h2>
    <img src="{{ url_for('static', path='/images/pickha.png') }}" alt="pikcha">
    <p>Страховая компания «Гелиос» — универсальная технологичная страховая компания, работающая на российском рынке с 1993 года. Компания предлагает широкий спектр услуг для физических и юридических лиц, включая автострахование, страхование имущества, здоровья, и жизни.</p>
</div>
{% if request.cookies.get("access_token") %}
<div class="debug-section">
    <a href="/debug/users" class="debug-btn">Отладка: Список пользователей</a>
</div>
{% endif %}
<div id="Services">
    <h2>НАШИ УСЛУГИ</h2>
    <table>
        <tr>
        <th colspan="3">Страховка по категориям</th>
        <th colspan="3">Комплексная страховка</th>
      </tr>
      <tr>
        <td>АВТО</td>
        <td>ОСАГО</td>
        <td>КАСКО</td>
        <td>"Все под контролем"</td>
        <td>"Все для бизнеса"</td>
      </tr>
      <tr>
          <td>ЗДОРОВЬЕ</td>
          <td>ИМУЩЕСТВО</td>
          <td>ПУТЕШЕСТВИЯ</td>
          <td>---</td>
          <td>---</td>
      </tr>
    </table>
    <h3>Основные услуги</h3>
                      <ul>
                          <li>ОСАГО - Обязательное страхование автогражданской ответственности</li>
                          <li>Каско - Страхование транспортного средства</li>
                          <li>Комплексная защита для жизни</li>
                      </ul>
                      <h3>Программы страхования КАСКО</h3>
                      <ol>
                          <li>КАСКО Классика</li>
                          <li>Практичное КАСКО</li>
                          <li>КАСКО Профи</li>
                          <li>КАСКО Пополам</li>
                      </ol>
                      <h3>Комплексная защита</h3>
                      <ul>
                          <li>Движимое имущество
                              <ul>
                                  <li>Пожар</li>
                                  <li>Удар молнии</li>
                                  <li>Взрыв</li>
                              </ul>
                          </li>
                          <li>Несчастный случай
                              <ul>
                                  <li>Смерть или утрата трудоспособности</li>
                                  <li>Инвалидность (1, 2 группы) в результате несчастного случая</li>
                              </ul>
                          </li>
                          <li>Критические заболевания
                          </li>
                          <li>Квартира
                              <ul>
                                  <li>Пожар</li>
                                  <li>Удар молнии</li>
                                  <li>Взрыв</li>
                              </ul>
                          </li>
                          <li>Гражданская ответственность
                          </li>
                          <li>Дом
                              <ul>
                                  <li>Получение компенсации при повреждении конструктивных элементов:</li>
                              </ul>
                          </li>
                      </ul>
                </ul>
</div>
{% endblock %}