
{% extends "base.html" %}
{% block content %}
<div id="About" >
    <h2>О компании</h2> 
    <p>Страховая компания «Гелиос» — универсальная технологичная страховая компания, работающая на российском рынке с 1993 года. Компания предлагает широкий спектр услуг для физических и юридических лиц, включая автострахование, страхование имущества, здоровья, и жизни.</p>
    <p>Обеспечивать комплексную защиту финансовых интересов клиентов Компании позволяют лицензии Банка России на осуществление ОСАГО, добровольного имущественного страхования, добровольного личного страхования (кроме страхования жизни), а также лицензия на перестрахование, выданные бессрочно.</p>
    <p>Страховая Компания «Гелиос» – член Всероссийского Союза Страховщиков (ВСС), Российского Союза Автостраховщиков (РСА), Национального союза агростраховщиков (НСА).</p>
    <p>Ответственность перед клиентами по полной сумме возможных убытков Страховая Компания «Гелиос» несет благодаря финансовой устойчивости, объёмам собственных средств и надежным перестраховочным программам. В числе партнеров по перестрахованию – ведущие российские и международные компании.</p>
    <p>В долгосрочной перспективе Компания планирует сохранить и расширить свою роль и место на страховом рынке Российской Федерации как технологичной страховой организации рыночного типа со сбалансированным портфелем универсальных (классических) страховых рисков и высокой финансовой устойчивостью.</p>
</div>

{% endblock %}