{% extends "base.html" %}

{% block content %}

    
    <h2 >ПРОДУКТЫ</h2>
            
          
                 <div id="cont1" class="tabcontent">
                    <div class="card-container">
                        <div class="card">
                        <div class="card-image">
                          <img src="{{ url_for('static', path='/images/kasko_1x.png') }}" alt="КАСКО Классика">
                        </div>
                        <div  class="card-content">
                          <h3>КАСКО Классика</h3>
                          <ul>
                              <li>Возраст автомобиля: до 20 лет</li>
                              <li>Страховая сумма: равна стоимости авто</li>
                              <li>Срок страхования: 12 мес.</li>
                              <li>Стоимость полиса: расчётная</li>
                              <li>Страховые риски: Ущерб, Полная гибель, Хищение, угон</li>
                              <li>Условия оплаты: рассрочка в 2 платежа</li>
                              <li>Клиентский сервис 24/7: ✔</li>
                              <li>Аварийный комиссар: ✔</li>
                              <li>Эвакуатор: ✔</li>
                              <li>Форма возмещения: Ремонт на СТОА или выплата деньгами</li>
                              <li>Выплата без справок: ✖</li>
                          </ul>
                            </div>
                        </div>
                    
                    
                
                
              
                 
                    <div class="card">
                    <div class="card-image">
                      <img src="{{ url_for('static', path='/images/kasko2.png') }}" alt="Практичное КАСКО">
                    </div>
                    
                    <div class="card-content">
                      <h3>Практичное КАСКО</h3>
                      <ul>
                          <li>Возраст автомобиля: до 20 лет</li>
                          <li>Страховая сумма: 400 000 ₽</li>
                          <li>Срок страхования: 12 мес.</li>
                          <li>Стоимость полиса: 2 050 ₽</li>
                          <li>Страховые риски: Ущерб, Полная гибель</li>
                          <li>Условия оплаты: единовременно</li>
                          <li>Клиентский сервис 24/7: ✔</li>
                          <li>Аварийный комиссар: ✔</li>
                          <li>Эвакуатор: ✔</li>
                          <li>Форма возмещения: Ремонт на СТОА или выплата деньгами</li>
                          <li>Выплата без справок: ✖</li>
                      </ul>
                     </div>
                    </div>
                    </div>
                 </div>
                
              
                <div id="cont2" class="tabcontent">
                    <div class="card-container">
                    <div class="card">
                        <div class="card-image">
                          <img src="{{ url_for('static', path='/images/kaskoprof.png') }}" alt="КАСКО Профи">
                        </div>
                        <div class="card-content">
                          <h3>КАСКО Профи</h3>
                          <ul>
                              <li>Возраст автомобиля: до 10 лет</li>
                              <li>Страховая сумма: равна стоимости авто</li>
                              <li>Срок страхования: 12 мес.</li>
                              <li>Стоимость полиса: расчётная</li>
                              <li>Страховые риски: Ущерб, Полная гибель, Хищение, угон</li>
                              <li>Условия оплаты: единовременно</li>
                              <li>Клиентский сервис 24/7: ✔</li>
                              <li>Аварийный комиссар: ✔</li>
                              <li>Эвакуатор: ✔</li>
                              <li>Форма возмещения: Ремонт на СТОА или выплата деньгами</li>
                              <li>Выплата без справок: ✔</li>
                          </ul>
                          
                        </div>
                      </div>
                
                    <div class="card"> 
                        <div class="card-image">
                            <img src="{{ url_for('static', path='/images/kaskohalf.png') }}" alt="КАСКО Пополам">
                        </div>
                        <div class="card-content">
                        <h3>КАСКО Пополам</h3>
                        <ul>
                            <li>Возраст автомобиля: до 10 лет</li>
                            <li>Страховая сумма: равна стоимости авто</li>
                            <li>Срок страхования: 12 мес.</li>
                            <li>Стоимость полиса: расчётная</li>
                            <li>Страховые риски: Ущерб, Полная гибель, Хищение, угон</li>
                            <li>Условия оплаты: единовременно</li>
                            <li>Клиентский сервис 24/7: ✔</li>
                            <li>Аварийный комиссар: ✔</li>
                            <li>Эвакуатор: ✔</li>
                            <li>Форма возмещения: Ремонт на СТОА или выплата деньгами</li>
                            <li>Выплата без справок: ✔</li>
                        </ul>
                </div>
              </div>
            </div>
            </div>
                <div id="cont3" class="tabcontent">
                    <div class="card-container">
                        <div class="card"> 
                            <div class="card-image">
                                <img src="{{ url_for('static', path='/images/lifeinsu.png') }}" alt="КАСКО Пополам">
                            </div>
                            <div class="card-content">
                                <h3>Всё под контролем</h3>
                                <ul>
                                    <li>Подробнее: Комплексная защита на все случаи жизни.</li>
                                    <li>Стоимость полиса: от 2900 руб.</li>
                                    <li>Страховые риски: имущество, несчастный случай, критические заболевания</li>
                                    <li>Имущество: Пожар, удар молнии, взрыв, падение инородных предметов, стихийные бедствия, воздействие воды, противоправные действия третьих лиц</li>
                                    <li>Несчастный случай: Смерть или постоянная утрата трудоспособности / инвалидность (1,2 группы) в результате несчастного случая</li>
                                    <li>Критические заболевания: Диагностирование смертельно опасного заболевания в соответствии с их перечнем, который находится в правилах страхования</li>
                                    <li>Выплата без справок: ✔</li>
                                </ul>
                             </div>
                         </div>
                    
                        <div class="card"> 
                        <div class="card-image">
                            <img src="{{ url_for('static', path='/images/businsu.png') }}" alt="КАСКО Пополам">
                        </div>
                        <div class="card-content">
                            <h3>Всё для бизнеса</h3>
                            <ul>
                                <li>Подробнее: Комплексная программа страхования, которая обеспечит защиту вашего бизнеса от основных рисков.</li>
                                <li>Страховые риски: страхование от несчастных случаев, страхование гражданской ответственности</li>
                                <li>СТРАХОВАНИЕ ОТ НЕСЧАСТНЫХ СЛУЧАЕВ: Смерть или постоянная утрата трудоспособности / инвалидность (1,2 группы) в результате несчастного случая</li>
                                <li>СТРАХОВАНИЕ ГРАЖДАНСКОЙ ОТВЕТСТВЕННОСТИ: Причинение вреда жизни, здоровью или имуществу третьих лиц при эксплуатации жилья</li>
                                <li>СТРАХОВАНИЕ ИМУЩЕСТВА: Пожар, удар молнии, взрыв, падение инородных предметов, стихийные бедствия, воздействие воды, противоправные действия третьих лиц\</li>
                                <li>Выплата без справок: ✔</li>
                            </ul>
                         </div>
                     </div>
                </div>
            </div>

{% endblock %}