<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страховая компания "Гелиос"</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images.png" alt="ЛОГОТИП">
        </div>
        <div class="title">СТРАХОВАЯ КОМПАНИЯ "ГЕЛИОС"</div>
        <div class="login">
            <label>логин: <input type="text"></label>
            <label>пароль: <input type="password"></label>
            <button>войти</button>
        </div>
    </header>
    <nav class="top-menu">
        <button class="tablink" >О компании</button>
        <button class="tablink" >Услуги</button>
        <button class="tablink" >Контакты</button>
    </div>
    </nav>
    <div class="container">
        <aside class="sidebar">
            <a href="index.html">Главная</a>
            <a href="page1.html">Каталог</a>
            <a href="page2.html">Контакты</a>
            <a href="page3.html">О нас</a>
        </aside>
        <main>
            <div class="container1">
                <h2 class="h21">Подробнее о продукте</h2>
                <p class="p1">Всё для бизнеса — Комплексная программа страхования, которая обеспечит защиту вашего бизнеса от основных рисков.</p>
            
                <div class="info-section">
                    <div class="info-block">
                        <h3>СТРАХОВАНИЕ ОТ НЕСЧАСТНЫХ СЛУЧАЕВ</h3>
                        <p>Смерть или постоянная утрата трудоспособности / инвалидность (1,2 группы) в результате несчастного случая</p>
                    </div>
                    <div class="info-block">
                        <h3>СТРАХОВАНИЕ ГРАЖДАНСКОЙ ОТВЕТСТВЕННОСТИ</h3>
                        <p>Причинение вреда жизни, здоровью или имуществу третьих лиц при эксплуатации жилья</p>
                    </div>
                    <div class="info-block">
                        <h3>СТРАХОВАНИЕ ИМУЩЕСТВА</h3>
                        <p>Пожар, удар молнии, взрыв, падение инородных предметов, стихийные бедствия, воздействие воды, противоправные действия третьих лиц</p>
                    </div>
                </div>
            </div>
           
            
        </main>
        <aside class="banners">
            <a href="https://autoins.ru/osago/"><img src="OCAGO.png" alt="osago" class="images"></a>
            <a href="https://www.alfastrah.ru/individuals/auto/kasko/moskva/?utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="KASKO.png" alt="casco" class="images"></a>
            <a href="https://www.sravni.ru/strakhovaja-kompanija/gelios/otzyvy/"><img src="OTZYV.png" alt="reviews" class="images"></a>
        </aside>
    </div>
    <footer>
        <p>© 2024 Страховая компания "ГЕЛИОС". Все права защищены.</p>
</footer>     
</body>
</html>